body {
    background-color: rgb(41, 28, 28);
    color: aliceblue;
    text-align: center;
}
.foodimg {
    height: 500px;
    width: auto;
}
.foodbox {
    float:left
}
.recipelist {
    list-style:none;
}
.recipelist li {
    display: inline-block;
    margin-right: 10px;
    font-size: 50px;
    border: 2px;
    border-radius: 10px;
    background-color: brown;
}
#indexlist a{
    text-decoration: none;
    font-size: 100px;
    
}
h1 {
    font-size: 75px;
}
